* {
  box-sizing: border-box;
}

header {
  background-color: aquamarine;
  min-height: 100vh;
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  border: 1px solid red;
  padding: 10px 20px;
  background-color: blanchedalmond;
}

a:hover {
  background-color: blue;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

p {
  font-size: 1em;
  margin-bottom: 1em;
}
